<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../../partials/header.ejs') %>
    </header>

    <main>
        <%= list_productos[0].nombre %>
    </main>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>