<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>

    <main>
        <section class="hero-banner">
            <img src="/images/products/<%= product.mainImage %>" width="100%" alt="Cover relacionado con el juego">
        </section>

        <section class="productGroup">
            <article class="productColumnOne">
                <!-- Header details -->
                <div class="productDetails-head">
                    <img class="game-image" src="/images/products/<%= product.secondImage %>" alt="">
                    <div class="infoWrapper">
                        <h2 class="productName"><%= product.name %></h2>
                        <% if(product.rawApi != null) { %>
                        <p class="relaseDate">Fecha de lanzamiento <%= product.rawApi?.launchDate %></p>
                        <div class="metascore">
                            <p class="metascoreNumber">
                                <%= product.rawApi?.metacritic %>  
                            </p>
                            <div class="metascoreLabelLink">
                                <p class="name"> <%= product.rawApi?.rating %>  </p>
                                <a class="reviews" href=" <%= product.rawApi?.metacriticUrl %>  " target="_blank">Ver reviews</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

                <!-- Body details -->
                <div class="tabsDetails">
                    <div class="tabsHeaderLinks">
                        <a class="tabOne" href="#">Detalles</a>
                        <a class="tabTwo" href="#">Galería</a>
                    </div>
                    <div class="tabsBodyDetails">
                        <p class="bodyParagraph">
                            <%= product.description %>  
                        </p>

                        <% if(product.rawApi != null) { %>
                        <p class="bodyTitle">Sinopsis</p>

                        <p class="bodyParagraph">
                             <%= product.rawApi?.synopsis %>  
                        </p>
                        <% } %>
                        <!-- <p class="bodyTitle">Gameplay</p>

                        <p class="bodyParagraph">
                            A diferencia del juego original, el jugador controla a Ellie en lugar de Joel, quien ahora se convierte en su compañero controlado por IA. El juego presenta controles mejorados que incluyen nuevas opciones como gatear, esquivar y un botón de salto. Un nuevo sistema de IA permite que los adversarios humanos se comuniquen y compartan información entre ellos. El juego también presenta el modo multijugador.
                        </p> -->
                    </div>
                    <div class="tabsBodyGallery">
                        <!-- Agregar info después -->
                    </div>
                </div>
            </article>

            <article class="productColumnTwo">
                <!-- Tarjeta con precio -->
                <div class="productPrice">
                     <!-- Agregar funcionalidad -->
                    <div class="productCondition">
                        <a href="#">Nuevo</a>
                        <a href="#">Usado</a>
                    </div>
                    
                    <% if(product.hasEdition) { %>
                    <div class="select-wrapper">
                        <select class="select" name="edition" id="edition">
                            <% product.edition.forEach( edition => { %>
                            <option value="<%= edition %>"><%= edition %></option>
                           
                            <!-- <option value="Standard">Standard</option>
                            <option value="Collector">Coleccionista</option>
                            <option value="Especial">Especial</option> -->
                            <% }); %>
                        </select>
                    </div>
                    <% } %>
                    <div class="productPriceWrapper">
                        <p class="labelPrice">Precio</p>
                        <h3 class="price"> $ <%= product.price %>  </h3>
                    </div>

                    <a href="" class="btn-CTA addToCart">Añadir al carrito</a>
                </div>

                <% if(product.rawApi != null) { %>
                <!-- Tarjeta con informacion adicional -->
                <div class="productAditionalDetails">
                    <div class="tagRow">
                        <p class="tagName">Plataformas</p>
                        <p class="tagValue"><%= product.rawApi?.platforms %> </p>
                    </div>

                    <div class="tagRow">
                        <p class="tagName">Género</p>
                        <p class="tagValue"><%= product.rawApi?.genres %>  </p>
                    </div>

                    <div class="tagRow">
                        <p class="tagName">Desarrollador</p>
                        <p class="tagValue"><%= product.rawApi?.developer %> </p>
                    </div>

                    <div class="tagRow">
                        <p class="tagName">Edad recomendada</p>
                        <p class="tagValue"><%= product.rawApi?.recommendedAge %> +</p>
                    </div>

                    <span class="divider"></span>

                    <div class="tagRow">
                        <p class="tagName completeField">Tags</p>
                        <p class="tagValue completeField"><%= product.rawApi?.tags %></p>
                    </div>
                </div>
                <% } %>
            </article>
        </section>
    </main>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>