<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../../partials/header.ejs') %>
    </header>
   
    <div class="not-found">
      <%= description %>
    </div>
  
   
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>