<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>

    <section class= "createProduct">
       
        <div class="formWrapper">

            <div class="create-product-introWrapper">
                <h1 class="small-title-createProduct">
                    <% if (product === null) { %>
                    Crear producto
                    <% } else { %>
                        Editar un producto
                    <% } %>
                </h1>
            </div>

            <% if (product === null) { %>
                <form action="/productos/crear" method="POST" enctype="multipart/form-data">
                <% } else { %>        
                <form action="/productos/editar/<%= product?.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <% } %>
                <div class="form-create-product">
               
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="name"  placeholder=" " id="name" value="<%= product?.name %>">
                        <label for="name" class="label">Nombre del producto</label>
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="price"  placeholder=" " id="price" value="<%= product?.price %>">
                        <label for="price" class="label">Precio</label>
                    </div>

                    <div class="input-wrapper">

                        <label for="category">Categoría</label>
    
                        <select name="category" id="category">
                          <option value="consolas" <%= product?.category == 'consolas' ? "selected" : "" %>>Consolas</option>
                          <option value="juegos" <%= product?.category == 'juegos' ? "selected" : "" %>>Juegos</option>
                          <option value="accesorios" <%= product?.category == 'accesorios' ? "selected" : "" %>>Accesorios</option>
                          <option value="computadores" <%= product?.category == 'computadores' ? "selected" : "" %>>Computadores </option>
                          <option value="sillas-gamer" <%= product?.category == 'sillas-gamer' ? "selected" : "" %>>Sillas Gamer</option>
                        </select>
    
                    </div>
    
    
                    <div class="input-wrapper">
    
                        <label for="subcategory">Subcategoría</label>
    
                        <select name="subcategory" id="subcategory">
                          <option value="ps4" <%= product?.subcategory == 'ps4' ? "selected" : "" %>>PS4</option>
                          <option value="ps5" <%= product?.subcategory == 'ps5' ? "selected" : "" %>>PS5</option>
                          <option value="xbox-one" <%= product?.subcategory == 'xbox-one' ? "selected" : "" %>>Xbox one</option>
                          <option value="nintendo-switch" <%= product?.subcategory == 'nintendo-switch' ? "selected" : "" %>>Nintendo Switch</option>
                          <option value="nintendo-3ds" <%= product?.subcategory == 'nintendo-3ds' ? "selected" : "" %>>Nintendo 3DS</option>
                          <option value="ps3" <%= product?.subcategory == 'ps3' ? "selected" : "" %>>PS3</option>
                        </select>
    
                    </div>


                    <div class="input-wrapper">

                        <label for="hasEdition">Tiene Edicion?</label>
    
                        <select name="hasEdition" id="hasEdition">
                          <option value="true" <%= product?.hasEdition == 'true' ? "selected" : "" %> >Si</option>
                          <option value="false" <%= product?.hasEdition == 'false' ? "selected" : "" %>>No</option>
                        
                        </select>
    
                    </div>
    
    
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="edition"  placeholder="Coleccionista, Standard, Digital " id="edition" value="<%= product?.edition %>">
                        <label for="edition" class="label">Edicion (Digite separado por comas)</label>
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="stock" value="<%= product?.stock %>"  placeholder=" " id="stock">
                        <label for="stock" class="label">Stock</label>
                    </div>

                    <div class="input-wrapper">
                        <textarea class="input"  name="description"  placeholder=" " id="description">
                            <%= product?.description %>
                        </textarea>
                        <label for="description" class="label">Descripcion del producto</label>
                    </div>


                    <div class="input-wrapper">

                        <label for="type">Nuevo/Usado</label>
    
                        <select name="type" id="type">
                          <option <%= product?.type == 'nuevo' ? "selected" : "" %> value="nuevo">Nuevo</option>
                          <option <%= product?.type == 'usado' ? "selected" : "" %> value="usado"  >Usado</option>
                        </select>
                    </div>

                    <div class="input-wrapper">

                        <label for="mainImage">Imagen principal</label>

                        <input type="file"
                            id="mainImage" name="mainImage"
                            accept="image/png, image/jpeg">
    
                    </div>

                    <div class="input-wrapper">

                        <label for="secondImage">Imagen Secundaria</label>

                        <input type="file"
                            id="secondImage" name="secondImage"
                            accept="image/png, image/jpeg">
    
                    </div>

                  
                    <div class="input-wrapper">
                        <% if (product !== null) { %>
                        <button type="submit" class="btn-create-product">Actualizar producto</button>
                        <% } else { %>
                        <button type="submit" class="btn-create-product">Crear producto</button>
                        <% } %>
                    </div>
                    <div class="input-wrapper">

                        <button type="reset" class="btn-create-product">Resetear formulario</button>
    
                    </div>

                    <% if (product !== null) { %>
                        <div class="input-wrapper">
                        <form action="/productos/eliminar/<%= product?.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn-create-product">Eliminar producto</button>
                          </form> 
                        </div>
                    <% } %>

            </div>

 

            </form> 
       

        </div>

    </section>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>