<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>

    <section class= "createProduct">
       
        <div class="formWrapper">

            <div class="create-product-introWrapper">
                <h1 class="small-title-createProduct">
                    <% if (product === null) { %>
                    Crear producto
                    <% } else { %>
                        Editar un producto
                    <% } %>
                </h1>
            </div>

    
       
            <% if (product === null) { %>
                <form action="/productos/crear" method="POST" enctype="multipart/form-data">
                <% } else { %>        
                <form action="/productos/editar/<%= product?.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <% } %>
                <div class="form-create-product">
               
                    <div class="input-wrapper">
                        <input class="input"  type="text" name="productName"  placeholder=" " id="productName" value="<%= product?.productName %>">
                        <label for="productName" class="label">Nombre del producto</label>
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="price"  placeholder=" " id="price" value="<%= product?.price %>">
                        <label for="price" class="label">Precio</label>
                    </div>

                    <div class="input-wrapper">

                        <label for="category">Categoría</label>
    
                        <select name="category" id="category">
                          <option value="Consolas">Consolas</option>
                          <option value="Juegos">Juegos</option>
                          <option value="Accesorios">Accesorios</option>
                          <option value="Computadores">Computadores </option>
                          <option value="Sillas Gamer">Sillas Gamer</option>
                        </select>
    
                    </div>
    
    
                    <div class="input-wrapper">
    
                        <label for="subcategory">Juegos</label>
    
                        <select name="subcategory" id="subcategory">
                          <option value="PS4">PS4</option>
                          <option value="PS5">PS5</option>
                          <option value="Xbox one">Xbox one</option>
                          <option value="Nintendo Switch">Nintendo Switch</option>
                          <option value="Nintendo 3DS">Nintendo 3DS</option>
                          <option value="PSE">PS3</option>
                        </select>
    
                    </div>


                    <div class="input-wrapper">

                        <label for="hasEdition">Tiene Edicion?</label>
    
                        <select name="hasEdition" id="hasEdition">
                          <option value="true">Si</option>
                          <option value="false">No</option>
                        
                        </select>
    
                    </div>
    
    
                    <div class="input-wrapper">
    
                        <label for="edition">Edicion</label>
    
                        <select name="edition" id="edition">
                          <option value="Standar">Standar</option>
                          <option value="Digital">Digital</option>
                          <option value="Coleccionista">Coleccionista</option>
                        </select>
    
                    </div>
    
                    <div class="input-wrapper">
                        <input class="input" type="number" name="stock" value="<%= product?.stock %>"  placeholder=" " id="stock">
                        <label for="stock" class="label">Stock</label>
                    </div>


                  
              
         
    

                    <div class="input-wrapper">
                        <input class="input"  type="text" name="title1"  placeholder=" " id="title1" value="<%= product?.title1 %>">
                        <label for="title1" class="label">Titulo 1</label>
                    </div>

                    <div class="input-wrapper">
                        <textarea class="input"  name="productDescription1"  placeholder=" " id="productDescription1">
                            <%= product?.productDescription1 %>
                        </textarea>
                        <label for="productDescription1" class="label">Descripcion del producto 1</label>
                    </div>

                    <div class="input-wrapper">
                        <input class="input"  type="text" name="title2"  placeholder=" " id="title2" value="<%= product?.title2 %>">
                        <label for="title2" class="label">Titulo 2</label>
                    </div>


                    <div class="input-wrapper">

                        <textarea class="input"  name="productDescription2"  placeholder=" " id="productDescription2">
                            <%= product?.productDescription2 %>
                        </textarea>
                        <label for="productDescription2" class="label">Descripcion del producto 2</label>
                    </div>

                    <div class="input-wrapper">

                        <label for="type">Nuevo/Usado</label>
    
                        <select name="type" id="type">
                          <option value="nuevo">Nuevo</option>
                          <option value="usado"  >Usado</option>
                        </select>
                    </div>

                    <div class="input-wrapper">

                        <label for="img-1">Imagen principal</label>

                        <input type="file"
                            id="img-1" name="img-1"
                            accept="image/png, image/jpeg">
    
                    </div>

                    <div class="input-wrapper">

                        <label for="img-2">Imagen Secundaria</label>

                        <input type="file"
                            id="img-2" name="img-2"
                            accept="image/png, image/jpeg">
    
                    </div>

                  
                    <div class="input-wrapper">

                        <button type="submit" class="btn-create-product">Crear producto</button>
                    </div>
                    <div class="input-wrapper">

                        <button type="reset" class="btn-create-product">Resetear formulario</button>
    
                    </div>
        

              

        

            </div>

 

            </form> 
       

        </div>

    </section>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>