<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/head.ejs') %>
    <title><%= title %></title>
</head>

<body>
    <header>
         <%- include('../../partials/header.ejs') %>
    </header>

    <main>

        <% for(let i=0;i < list_productos.length;i++) {%>
        <div class='lista_productos'>
            <img class='imagen_lista_productos' src=<%= list_productos[i].imagen %>>
            <div class="titulo_precio_descripcion">
                <div class="nombre_lista"><%=list_productos[i].nombre%></div>
                <div class="precio_lista"><%=list_productos[i].precio%></div>
                <div class="descripcion_lista"><%=list_productos[i].descripcion%></div>
            </div>
            <button class="button-list">Agregar al carrito</button>
        </div>
        <% } %>

    </main>

    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>